body{color: #ea5;width: 1500px;height: 1000px}
/*这是页头部分*/
#bg{background-image: url(../images2/bg.gif);background-position: center top;height: 205px;width: 1500px;}
#banner{background-image: url(../images2/logo.png);background-repeat: no-repeat;width: 1500px;height: 164px;border-top-width: 38px;border-left-width:25px;position: absolute;left: 25px;top: 38px;}
.nav{background-image: url(../images2/nav.jpg);height: 40px;width: 1500px;position: absolute;top:175px;}
#nav_body{width: 1500px;text-align: center;}
.nav_content{width: 1000px;font-weight: bolder;color: #fff;}
.nav_content a{line-height: 40px;text-decoration: none;color: white;}
a:hover{color: #f9f603;text-decoration: none;}
#first{color: #f9f603;padding-left: 50px;}
#in1{width: 140px;height: 19px;background-color: #f8f5ee;position: relative;left: 900px;bottom:30px;}
#in2{width: 44px;height: 21px;background-color: #000;color: #fff;text-align: center;border: 1px solid #f8f5ee;position: relative;left: 900px;bottom:30px;}
/*这是页面主体部分*/
#p1{padding-left: 100px;padding-top: 10px;padding-bottom: 10px;color: #ea5}
#p21{font-weight: bolder;color: #ea5;text-align: center;}
#p2 div{width: 800px;}
#p22{background-image: url(../images2/line.jpg);width:790px;height: 10px;background-repeat: no-repeat;margin:3px 0px 3px 200px;}
#p23{color: gray;font-size: 10px;text-align: center;margin-bottom: 10px;}
#p24{color: #ea5;text-indent: 2em;font-size: 11px;padding-left: 100px;}
#p25{background-image: url(../images2/huiyi.jpg);background-repeat: no-repeat;width: 500px;height: 300px;background-position: center;margin: 10px 0 10px 0;}
#p26{text-indent: 2em;color: #ea5;font-size: 11px;padding-left: 100px;}
#p27{background-image: url(../images2/line.jpg);width:790px;height: 10px;background-repeat: no-repeat;margin:3px 0px 3px 200px;}
.p28{height: 40px;line-height: 40px;margin-top: 10px;font-size: 13px;font-weight: bolder;margin-left: 100px}
#p281{font-weight: normal;}
#p282{font-weight: normal;}
#p3{background-image: url(../images2/board_bg.png);width: 300px;height: 250px;background-repeat: no-repeat;float: left;position: relative;left: 1000px;bottom: 600px;}
#p311{background-image: url(../images2/news.png);width: 200px;height: 50px;background-repeat: no-repeat;background-position: center;}
#p312 li{color: #ea5;font-size: 13px;list-style-type: none;}
#p312 a{;text-decoration: none;}
#p321{background-image: url(../images2/show.png);width: 200px;height: 50px;background-repeat: no-repeat;background-position: center;margin-top: 50px;}
#p322{background-image: url(../images2/show_bg.png);width: 300px;height: 400px;background-repeat: no-repeat;}
#p3221{background-image: url(../images2/mingjia.jpg);width: 250px;height: 200px;background-repeat: no-repeat;background-position: center;}
#p3222{color: #ea5;font-size: 15px;}
#p3231{background-image: url(../images2/before.png);height: 50px;width: 50px;background-repeat: no-repeat;float: left;position: relative;bottom: 80px;}
#p3232{background-image: url(../images2/next.png);height: 50px;width: 50px;background-repeat: no-repeat;float: left;position: relative;bottom: 80px;}
#p3233{background-image: url(../images2/view.png);height: 50px;width: 50px;background-repeat: no-repeat;float: left;position: relative;bottom: 80px;}
/*这是页脚部分*/
#footer{background-image: url(../images2/foot.gif);height: 100px;clear: both;width: 1300px;position: relative;right: 1000px}
#f11 li{list-style-type: none;position: relative;top: 20px;left: 300px;float: left;}
#f11 a{color: #ea5;text-decoration: none;}
#f2{background-image:url(../images2/line.jpg);width: 800px;height: 2px;position: relative;top: 40px;left: 200px}
#f3{color: #ea5;position: relative;top: 50px;right: 150px}
#bb{color: #ea5;position: relative;left: 600px}