/*这是页头部分*/
#bg{background-image: url(../images2/bg.gif);background-position: center top;height: 205px;width: 1500px;}
#banner{background-image: url(../images2/logo.png);background-repeat: no-repeat;width: 1500px;height: 164px;border-top-width: 38px;border-left-width:25px;position: absolute;left: 25px;top: 38px;}
.nav{background-image: url(../images2/nav.jpg);height: 40px;width: 1500px;position: absolute;top:175px;}
#nav_body{width: 1500px;text-align: center;}
.nav_content{width: 1000px;font-weight: bolder;color: #fff;}
.nav_content a{line-height: 40px;text-decoration: none;color: white;}
a:hover{color: #f9f603;text-decoration: none;}
#first{color: #f9f603;padding-left: 50px;}
#in1{width: 140px;height: 19px;background-color: #f8f5ee;position: relative;left: 900px;bottom:30px;}
#in2{width: 44px;height: 21px;background-color: #000;color: #fff;text-align: center;border: 1px solid #f8f5ee;position: relative;left: 900px;bottom:30px;}
/*这是页面主体部分*/
#p1{padding-left: 100px;padding-top: 10px;padding-bottom: 10px;color: #ea5}
#content{float: left;}
#p2{border: 1px solid #ea5;width: 200px;margin-left: 100px;}
#p21{background-image: url(../images2/pxdt.png);width: 200px;height: 50px;}
#p22{background-image: url(../images2/menubg.gif);width: 100px;
background-repeat: no-repeat;text-align: center;list-style-type: none;height: 30px;position: relative;right: 15px;}
#p22 a{color: red;font-weight: bolder;}
li{list-style-type: none;}
a{color: black;font-weight: bolder;}
a:link{text-decoration: none;}
.p23{padding:5px;}
#p3{border: 1px solid #ea5;width: 200px;margin-left: 100px;margin-top: 20px;}
#p31{background-image: url(../images2/news.png);width: 200px;height: 50px;background-repeat: no-repeat;}
#p32{width: 100px;text-align: center;list-style-type: none;height: 30px;}
#p32 li{list-style-type: none;}
#p32 a{color: black;font-weight: bolder;}
a:link{text-decoration: none;}
.p32{padding:5px;}
#p4{background-image: url(../images2/tel.gif);width: 200px;height: 100px;margin-left: 100px;background-repeat: no-repeat;margin-top: 20px;}
#p51{background-image: url(../images2/listtitle.png);width: 800px;height: 50px;background-repeat: no-repeat;position: relative;bottom: 580px;left: 350px;}
#p51_1{color: red;position: relative;top:10px;left:60px;}
.p52 {height: 30px;color: #ea5;position: relative;bottom: 580px;left: 350px;list-style-type: disc;}
.p52 a{color: #ea5;}
.p53{height: 30px;color: #ea5;position: relative;bottom: 1050px;left: 850px;}
.p53 a{color: #ea5;}
#p61{border: 1px solid #ea5;color: #ea5;padding: 3px;position: relative;bottom: 1050px;left:500px;}
#p61_1{color: #ea5;font-weight: bolder;position: relative;bottom: 1050px;left:500px;}
#p61_2{color: #ea5;position: relative;bottom: 1050px;left:500px;}
/*这是页脚部分*/
#footer{background-image: url(../images2/foot.gif);height: 120px;clear: both;width: 1300px;position: relative;bottom: 1000px;}
#f11{list-style-type: none;text-decoration: none;float: left;}
#f11 li{position: relative;top: 20px;left: 300px;float: left;}
#f11 a{color: #ea5}
#f2{background-image:url(../images2/line.jpg);width: 800px;height: 2px;position: relative;left: 200px;top: 70px;}
#f3{color: #ea5;position: relative;top: 70px;right: 120px;}
#bb{color: #ea5;position: relative;left: 20px;}